# Python
## Python
### Python
#### Python

# insert image
![text](https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500)

### insert a site
[text](https://www.google.com/search?q=images+of+nature&sxsrf=ACYBGNRAXvjPjigESzHa-quFDq0qRczYiA:1575346589704&tbm=isch&source=iu&ictx=1&fir=ecp2Uso4Yd)

###  for creating ordered list
1. abc
2. efg
      1. a
      2. b
3. hij
      1. c
      2. d

###  symbols for unordered list
abc

### "bold and single"italic text
"gitam"

In [1]:
print("hello world")

hello world

In [2]:
# variable creating
a = 10
b = 10
a+b

20

In [3]:
name = "gitam"
print("university"+name)

universitygitam

In [4]:
name = input("enter a name")
age = int(input("enter the age"))
print ("my name is",name,"my age is",age)

enter a namesai pavan
enter the age20
my name is sai pavan my age is 20

## take two inputs and do the following arthematic operations/
add,sub,mul,div

In [5]:
a=12
b=20
c=a+b
d=a-b
e=a*b
f=a/b
print(c)
print(d)
print(e)
print(f)

32
-8
240
0.6

### fundamental datatypes
1. int
2. float
3. complex
4. boolean
5. string

In [6]:
a=10
b=20.05
c=5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [7]:
c=complex(3,4)
print(c)

(3+4j)

In [8]:
c1=3+5J
c2=6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)
print(c1/c2)

(9+12j)
(-3-2j)
(-17+51j)
(0.6235294117647059+0.10588235294117647j)

In [9]:
a=10
b=12
a>b

False

In [10]:
s1="abc"
s2="xyz"
print(type(s1),type(s2))
print(s1+s2)

<class 'str'> <class 'str'>
abcxyz

In [13]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [14]:
a1=1234
print(len(str(a1)))

4

### operators
1. arthematic operators --> +,-,*,%.//,**
2. logical operators --> and,ar,not
3. relational operators --> <,>,<=,>=,==,!=
4. membership operators -->in,not,in

In [15]:
n1=12
n2=21
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1%n2)
print(n1/n2)
print(n1//n2)
print(n1**n2)

33
-9
252
12
0.5714285714285714
0
46005119909369701466112

In [16]:
print(n1==n2)
print(n1>n2)
print(n1!=n2)
print(n1<n2)

False
False
True
True

In [1]:
n1=12
n2=21
print(n1>=9 and n1<=15)
print(n1>=9 or n1<=15)
print(not n1)

True
True
False

### problem on relation operators
take two integer numbers and do the following operations
<,>,==,!=,,<=,>=

In [3]:
m1=int(input("enter m1"))
m2=int(input("enter m2"))
print(m1<m2)
print(m1>m2)
print(m1==m2)
print(m1>=m2)
print(m1<=m2)
print(m1!=m2)

enter m18
enter m210
True
False
False
False
True
True

f = [1,2,3,4]
print(1 in f)
print(5 in f)
print(6 not in f)
print(4 not in f)

### conditional statements
1. if
2. else
3. elif

### syntax:
## if condition:
statements

### else :
statements

### To check even or odd

In [5]:
n=int(input("enter a number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number28
even

### To check given number is multiple of 3 and 5

In [9]:
n=int(input("enter a number"))
if n%3==0 and n%5==0:
    print("yes")
else:
    print("no")

enter a number30
yes

### check the number is positive,negative,zero

In [12]:
n=int(input("enter a number"))
if n>0:
    print("positive")
elif n<0:
    print("negitive")
else:
    print("zero")

enter a number0
zero

In [19]:
n=int(input("enter a number"))
if n%4==0:
    print("leap year")
else:
    print("not a leap year")

enter a number2020
leap year

In [1]:
# print numbers 1 to 10
n=int(input("enter a number"))
i=1
while i<=n:
    print(i,end=" ")
    i=i+1

enter a number12
1 2 3 4 5 6 7 8 9 10 11 12

In [2]:
# read a no a input
# output shold be sum of eve no's from 1 to n
n=int(input("enter a number"))
i=1
s=0
while i<=n:
    if i%2==0:
        s=s+i
    i=i+1
print(s)

enter a number10
30