In [2]:
# Basic list functions
li=[1,9,16,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11

In [9]:
li=[1,9,16,25,5]
li.append(29) # add the new items at end
print(li)
li.insert(2,56) # add the new item at the specific index
print(li)
# li.append(9)
li.count(9) # return the value how many objectects repeated
# li.index(56) # return the value at the index

[1, 9, 16, 25, 5, 29]
[1, 9, 56, 16, 25, 5, 29]

1

In [10]:
# method of list objects
li=[1,9,16,56,25,5,9]
li.sort() # sorts the list in ascending order
print(li)
li.pop() # last index value
print(li)

[1, 5, 9, 9, 16, 25, 56]
[1, 5, 9, 9, 16, 25]

In [16]:
li1=[1,6,19,25]
#li.extend(li1)
li1.reverse()
li1

[25, 19, 6, 1]

In [20]:
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li= [1,25,6,9,45,22]
print(largenumber(li))
print(genericlarge(li,3)

45
22

In [23]:
def smallestnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n]
li=[1,25,6,9,45,22]
print(smallestnumber(li))
print(genericsmall(li,3))

1
22

In [26]:
def smallestnumber(li):
    li.sort()
    return li[0]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[1,25,6,9,45,22]
print(smallestnumber(li))
print(genericlarge(li,3))

1
22

### Tuples:
 - parenthesis() --->Tuples and square brackets[] ----->list
 - Different between list and tuples
   - list are mutable - can be changed/modified
   - used to access and modifify,add,delete data
   - tuples are mutable - cannot be changed
   - used to access the data only

In [28]:
t1=(1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

### Dictionaries:
1. it works on the concept of set unique data
2. keys,values is the unique identifier for the value
3. Each key is seperated from its value with colon(:)
4. each key and value is seperated with comma(,)
5. Dictionaries enhanced withy curly braces({})

In [32]:
d1={"Name":"GITAM","Email id":"gitam@gmail.in","address":"hyderabad"}
d1["Name"] # access the specific key
d1["Email id"]="gitam@gmail.com" # update the data
d1

{'Name': 'GITAM', 'Email id': 'gitam@gmail.com', 'address': 'hyderabad'}

In [39]:
d1["course"]="python" #adding an entry
d1

{'Name': 'GITAM', 'address': 'hyderabad', 'course': 'python'}

In [40]:
d1.keys()

dict_keys(['Name', 'address', 'course'])

In [41]:
d1.values()

dict_values(['GITAM', 'hyderabad', 'python'])

In [42]:
d1.items() #the list of tuples of keys and values

dict_items([('Name', 'GITAM'), ('address', 'hyderabad'), ('course', 'python')])

### strings:
1. strings
2. string slicings
3. fundamental programming with string in python

In [43]:
s1="python"
print(s1)
print(type(s1))

python
<class 'str'>

In [45]:
s1="python"
print(s1[0]) # access the first character
print(s1[1]) # access the second character
print(s1[5]) # access the last character
print(s1[len(s1)-1]) # access the last character

p
y
n
n

In [46]:
print(s1[-1]) # access the last character
print(s1[-2]) #Access the last second characters
print(s1[0:2])
print(s1[:2])
print(s1[-3:])
print(s1[2:])

n
o
py
py
hon
thon

In [47]:
print(s1[1:-1]) # printing all characters except first and last
print(s1[len(s1)//2]) # middle of the string
print(s1[-1::-1]) # reverse of the string
print(s1[-1:-3:-1]) # access the last two characters in the reverse order
#Access the alternate characters
print(s1[::2]) #two characters
print(s1[::3]) # three characters
print(s1[::-2]) # from reverse order

ytho
h
nohtyp
no
pto
ph
nhy

In [48]:
# reverse a string
def reversestring(str):
    return str[-1::-1]
reversestring("programming")

'gnimmargorp'

In [49]:
# check wheather the given string is palindrome or not
def ispalindrome(str):
   if str == str[-1::-1]:
       return True
   else :
       return False
   return
print(ispalindrome("Python"))
print(ispalindrome("ganag"))

False
True

###  string built in methods:
1. upper() --will convert the input string into upper case
2. lower() --will convert the input string into lower case

In [52]:
s1="python"
print(s1.isupper())
print(s1.lower())

False
python

#### String Boolean built-in methods:
1. islower() -- True if the string have all characters lower case
2. isupper() -- True if the string have all characters upper case
3. istitle() -- true if the string in title case
4. isnumeric() -- True if the string numeric
5. isalpha() -- True if the string only alphabets
6. isspace() -- True if the string is space

In [53]:
s1 = "python"
print(s1.islower())
print(s1.isupper())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

True
False
False
False
True
False

### string methods:
1. join() --method will concatinates the two strings
2. split() --returns a list of strings seperated by whitespace(no parameters)
3. replace() -- replace the specific word/character with the new word/character

In [54]:
s1="python"
print(" ".join(s1))

p y t h o n

In [58]:
s2="python programming is easy to learn"
print(",".join(s2))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,i,s, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [63]:
s3="python programming easy to learn"
print(s3.split())
print(s3.split('a'))
print(len(s3))
li=s3.split()
print(li)
print(len(li))

['python', 'programming', 'easy', 'to', 'learn']
['python progr', 'mming e', 'sy to le', 'rn']
32
['python', 'programming', 'easy', 'to', 'learn']
5

In [64]:
s2="python programming easy to learn"
li=list(s2)
print(li)
print(s2.replace("gra","Application"))

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']
python proApplicationmming easy to learn